html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Hide scrollbars */
  background-color: black;
}

canvas {
  display: block;
}

.headings {
  text-align: center;
  color: white;
  font-family: 'Syncopate', sans-serif;
  transition: opacity 1s ease-out;
  cursor: pointer;
}

h1 {
  padding: 20px;
}

h2 {
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 1.2em;
}

.hidden {
  opacity: 0;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5em;
    padding: 15px;
  }

  h2 {
    font-size: 1em;
    padding-bottom: 15px;
  }
}